.projectsBox {
  min-height: 100vh;
  background-color: black;
  color: white;
}

.UnderCon {
  background-color: transparent;
  width: 50%;
  margin-left: 50%;
  margin-top: 20px;
  transform: translate(-50%);
}
