.Link_title {
    text-transform: uppercase;
    padding: 10px 0;
    color: #e1e1e1;
    font-size: 100%;
    font-weight: 300;
    border-bottom: 3px solid transparent;
    transition: border-bottom 0.4s, color 0.4s;
}

.Link_title:active,
.Link_title:hover {
    border-bottom: 3px solid #4afdf5;
    color: #fff;
}


@media (min-width: 500px) {
    .NavigationItem {
        margin: 0;
        display: flex;
        height: 100%;
        width: auto;
        align-items: center;
    
    }
    
    .NavigationItem .Link {
        border-bottom: 4px solid transparent;
    }
    
    .NavigationItem .Link:hover,
    .NavigationItem .Link:active,
    .NavigationItem .Link.active {
        color: white;
    }    
}

