/* Header formatting */
.Header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../../assets/img/valdez.jpeg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  min-height: 480px;
  background-attachment: fixed;
  position: relative;
}

.Home_box {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 80%;
  margin-left: 10%;
  padding-top: -72px;
  justify-content: space-evenly;
}

.Home_box h1,
.Home_box h2,
.Home_box h3 {
  text-align: center;
}

.Home_box h1 {
  font-size: 400%;
  font-weight: 400;
  line-height: 200%;
  color: white;
  word-spacing: 10px;
  letter-spacing: 2px;
  text-shadow: 2px 3px 1px #2b2b2b;
}

.Home_box h3 {
  font-size: 100%;
  color: #e1e1e1;
}

.row {
  display: block;
  flex: 0 1 auto; /* Default */
  list-style-type: none;
  width: 100%;
}

.Home_box:first-child {
  padding-top: 10px;
}

.divider {
  width: 80px;
  margin: 0 auto;
}

.Social {
  display: flex;
  align-items: stretch; /* Default */
  justify-content: center;
  flex-wrap: wrap;
  height: 32px;
}

/* Social media icons */
.Social li {
  display: block;
  margin: 0 20px;
  align-self: stretch;
  height: 32px;
}

.Social li a {
  display: inline-block;
  max-height: 100%;
}

.Home_box ion-icon {
  color: #e1e1e1;
  text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.8);
}

.Home_box ion-icon[name="logo-linkedin"],
.Home_box ion-icon[name="logo-skype"],
.Home_box ion-icon[name="logo-github"],
.Home_box ion-icon[name="mail"] {
  font-size: 32px;
  transition: color 0.2s;
}

.Home_box ion-icon[name="caret-down-circle"] {
  font-size: 48px;
}

.Home_box ion-icon[name="logo-linkedin"]:hover {
  color: #0072b1;
}

.Home_box ion-icon[name="logo-github"]:hover {
  color: #6e5494;
}

.Home_box ion-icon[name="logo-skype"]:hover {
  color: #00aff0;
}

.Home_box ion-icon[name="mail"]:hover {
  color: #ababab;
}
.bottom_nav_button {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%);
  color: #e1e1e1;
  text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.8);
  font-size: 48px;
}

.large_icon {
  font-size: 48px;
}

@media (max-width: 480px) {

  .Home_box {
    width: 100%;
    margin: 0;
    padding-top: 50px !important;
    justify-content: space-around;
  }

  .Home_box h1 {
    width: 90%;
    margin-left: 5%;
    font-size: 200%;
    font-weight: 300;
    line-height: 120%;
    color: white;
    word-spacing: 10px;
    letter-spacing: 2px;
    text-shadow: 2px 3px 1px #2b2b2b;
  }

  .Home_box h3 {
    line-height: 120%;
    margin-top: 30px;
    font-size: 90%;
    color: #e1e1e1;
  }

  .Social {
    display: flex;
    align-items: stretch; /* Default */
    justify-content: space-between;
    flex-wrap: wrap;
    height: 32px;
    width: 50%;
    margin-left: 50%;
    transform: translateX(-50%);
    height: 200px;
  }

  .Social li {
    margin: 10px 20px;
  }
}
