.footer {
  background-color: rgb(55, 55, 55);
  color: #b5b5b5;
  box-shadow: -2px -2px rgb(63, 63, 63);
  text-align: center;
  position: relative;
}

.creditsBox {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  min-height: 65px;
}
.footer p {
  padding-left: 30px;
  font-size: 80%;
}

.topNavButton {
    width: 100%;
  position: absolute;
  color: #e1e1e1;
  text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.8);
  font-size: 48px;
}

.topNavButton ion-icon {
    transform: translateY(-50%);
}
