/* Navigation Bar */
.Navbar {
  height: 50px;
  z-index: 9998;
  margin: 0 20%;
  text-align: center;
}

.logo {
  border-radius: 50%;
  width: 45px;
  height: 45px;
  display: inline-block;
  margin: auto 0;
}
.navItems {
  display: flex;
  height: 50px;
  justify-content: space-evenly;
  vertical-align: middle;
}

.navItems li {
  display: inline-block;
  vertical-align: middle;
}

.navItems li:first-child {
  margin-left: 0px;
}

.navItem {
  text-transform: uppercase;
  color: white;
  margin: auto 0;
  font-size: 75%;
  font-weight: 400;
  transition: color 0.4s;
  letter-spacing: 1px;
}

.navItem:active,
.navItem:hover {
  color: #00ddd291;
}

.active {
  color: #00ddd2;
  transition: color 0.2s;
}

.sticky {
  position: fixed;
  height: 50px;
  z-index: 9999;
  padding: 0 20%;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgb(55, 55, 55);
  box-shadow: 0 2px 2px #383838;
}



.stickyActive {
  color: #00ddd2;
  transition: color 0.2s;
}

.hidden {
  display: none;
}
