.sectionHeader h3 {
    color: #00ddd2;
    padding-top: 100px;
    padding-bottom: 30px;
    text-align: center;
    font-weight: 400;
    text-transform: uppercase;
}

.sectionHeader p {
    text-align: center;
    font-size: 200%;
    font-weight: bold;
}

@media (max-width: 480px) {
    .sectionHeader h3 {
        padding-top: 60px;
        padding-bottom: 10px;
        text-align: center;
        font-weight: 300;
        text-transform: uppercase;
    }
    
    .sectionHeader p {
        text-align: center;
        font-size: 100%;
        font-weight: bold;
    }
}