* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: 'Lato', 'Arial', sans-serif;
  font-size: 20px;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
  background-color: rgb(233, 233, 233);
}

.clearfix {zoom: 1}
.clearfix:after {
  content: '.';
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

h1, 
h2 {
    font-weight: 300;
    text-transform: uppercase;
}

h3 {
  font-weight: 300;
  text-transform: capitalize;
}

h1 {
    margin: 0;
    font-size: 240%;
    word-spacing: 3px;
    letter-spacing: 1px;
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    letter-spacing: 2px;
}



h3 {
    font-size: 110%;
    letter-spacing: 2px;
}


